.pokecard{
    width: 100%;
    max-width: 350px;
    border-radius: 0.7em;
    border: 0.5em solid #999;
    cursor: pointer;
    transition: transform 150ms ease;
}

.pokecard:hover{
transform: scale(1.03);
}

.pokecard_header{
    background-color: #555;
    aspect-ratio: 1.8;
    position: relative;
} 


.pokecard_image {
    position: absolute;
    width:  60%;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5em;
}

.pokecard_body{
    padding: 3.5em 1em 2em;
}

.pokecard_name{
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.2em;
}

.pokecard_types{
display: flex;
justify-content: center;
gap: 0.7em;
margin-bottom: 0.2em;
}

.pokecard_typename{
    text-transform: capitalize;
}
.pokecard_typename:nth-child(2)::before{
content: '/ ';
padding-right: 0.7em;
}

.pokecard_hr{
    margin-bottom: 1em;
    border:1px solid  #ccc4;
}

.pokecard_stats{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 1em 0.5em;
}

.pokecard_stat{
display: grid;
gap: 0.5em;
justify-items: center;
}

.pokecard_stat__name{
    font-size:  0.7rem;
    font-weight: 300;
    text-transform: uppercase;
}

.pokecard_stat_value{
    font-weight: 500;
    font-size: 1rem;
}

.fire-border{
    border-color:  #e96e27;
}
.grass-border{
    border-color:  #7EC6C5;
}
.water-border{
    border-color:  #133258;
}
.bug-border{
    border-color:  #62DB60;
}
.normal-border{
    border-color:  #735259;
}
.fighting-border{
    border-color:  #96402A;
}
.poison-border{
    border-color:  #5B3184;
}
.ghost-border{
    border-color:  #323569;
}
.rock-border{
    border-color:  #7E7E7E;
}
.dark-border{
    border-color:  #030706;
}
.ice-border{
    border-color:  #6FBEDF;
}
.steel-border{
    border-color:  #5E736C;
}
.dragon-border{
    border-color:  #478A93;
}
.fairy-border{
    border-color:  #971B45;
}
.electric-border{
    border-color:  #101306;
}
.ground-border{
    border-color:  #654008;
}
.flying-border{
    border-color:  #0C1395;
}
.psychic-border{
    border-color:  #d5e4aa;
}